{% extends 'base.html' %}

{% block content %}

<div class="container">

  <h1>Crea un corso</h1>
  <p><bold>Come creare un corso</bold>:<br> Specifica titolo, descrizione, categoria e aula del corso, oltre al tipo di corso (progressivo o no).<br>
    Specifica poi gli utenti (mettendo il loro nome utente e la loro classe) che ospiteranno il corso. (in caso sei da solo devi mettere il tuo nome, altrimenti è facoltativo)</p>

  <div class="line"></div>
  <div id="error"></div>

  <div class="myform form-group">
    <small id="passwordHelpBlock" class="form-text text-muted">
      Non sono ammessi caratteri speciali come emoji nei titoli dei corsi o nelle descrizioni
    </small>
    <br>
    {{ crea_corso_form.as_p }}

    {% for fascia in fasce %}
      <input type="button" value="{{fascia}}" class="fasciabutton btn btn-secondary" onclick="aggiungi_fascia(this)">
    {% endfor %}

    <div class="line"></div>

    <div class="aggiungiospitantiform">
      <div class="ospitanti"></div>
      <div class="container">
        nome: <input type="text" id="ospitanti" placeholder="nome cognome"><br>
        classe: <input type="text" id="classedellospitante" placeholder="classe"><br><br>
        <button id="aggiungiospitante" onclick="aggiungi_studente()" class="btn btn-info">Aggiungi</button>
        <small id="ospitiHelpBlock" class="form-text text-muted">
          inserisci nome, cognome e classe (es: mariorossi 1a) degli studenti che terranno il corso.
        </small>
      </div>
    </div>

    <div class="line"></div>

    <p>Nota: premendo questo bottone verrà creato il corso</p>
    <button onclick="crea_corso(this)" class="btn btn-primary">Crea</button>
  </div>

</div>

<script>
var aula = ""
var fascia = []
var studenti_referenti = []
var classi = []
var categoria = ""

$(document).ready(function () {
  $('#creacorso').toggleClass('active')
  $('#homelink').toggleClass('active')
  $('#id_aula').on('change',function(){
    aula= $("#id_aula option:selected").text();
  });
  $('#id_categoria').on('change', function() {
    categoria = $("#id_categoria option:selected").text();
  })
})

function toogle_fascia(str) {
  if (fascia.includes(str)) {
    var index = fascia.indexOf(str);
    if (index > -1) {fascia.splice(index, 1);}
  } else {fascia.push(str)}
}
function aggiungi_fascia(nome_fascia) {
  var x = nome_fascia;
  x.classList.toggle('btn-info');
  x.classList.toggle('btn-secondary');
  var new_button = x.parentNode.replaceChild(x, nome_fascia);
  toogle_fascia(x.value)
}

function getCookie(name) {var cookieValue = null;if (document.cookie && document.cookie != '') {var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {var cookie = jQuery.trim(cookies[i]);if (cookie.substring(0, name.length + 1) == (name + '=')) {
         cookieValue =   decodeURIComponent(cookie.substring(name.length + 1));break;}}}return cookieValue;}
 var csrftoken = getCookie('csrftoken');function csrfSafeMethod(method) {return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));}

//studenti referenti
function validate_studente(n, c) {
  //temporary, waiting implementation
  return true
}
function aggiungi_studente() {
  var nome_cognome = $('#ospitanti').val();
  nome_cognome = nome_cognome.replace(/\s+/g, '').toLowerCase();
  var classe = $('#classedellospitante').val();
  classe = classe.replace(/\s+/g, '').toLowerCase();
  if (nome_cognome == "") {
    $('#error').html('specifica il nome e il cognome');
    return
  }
  if (classe == ""){
    $('#error').html('specifica la classe dello studente');
    return
  }
  if (validate_studente(nome_cognome, classe) == true) {
    var button = '<button class="btn btn-primary"onclick="rimuovi_studente(this)">Rimuovi</button>';
    var text = `<div class="studenti"><span>${nome_cognome}</span>, <span>${classe}</span>. ${button}</div<br>`;
    $('.ospitanti').append(text);
    studenti_referenti.push(nome_cognome);
    classi.push(classe);
  }
}
function rimuovi_studente(studente) {
  studenti_referenti.splice(studenti_referenti.indexOf(studente.parentNode.firstChild.innerHTML), 1);
  studente.parentNode.parentNode.removeChild(studente.parentNode);
  classi.splice(classi.indexOf(studente.parentNode.children[1].innerHTML), 1);
}

function validate_data(titolo, descrizione, p, a, fasce, ospiti, classi) {
  if (titolo == "" || titolo == " ") {
    $('#error').html('Per favore specifica un titolo')
    return false}
  if (descrizione == "" || descrizione == " ") {
    $('#error').html('Per favore specifica una descrizione')
    return false}
  if (a == "" || a == " " || a == "---------") {
    $('#error').html("Per favore specifica un'aula")
    return false
  }
  if (categoria == "---------" || categoria == "" || categoria == " ") {
    $('#error').html("Per favore specifica almeno una categoria")
    return false
  }
  if (ospiti.length != classi.length) {
    $('#error').html('Per favore immetti i nomi di tutti gli studenti con le relative classi')
    return false
  }
  for (var counter in classi) {
    if (classi[counter].length != 2) {
      $('#error').html('ricordati di specificare tutte le classi, nel formato: classe sezione. esempio: 3b, 5c, 1f')
      return false
    }
  }
  if (fasce.length == 0) {
    $('#error').html('ricordati di specificare almeno una fascia')
    return false
  }

  return true
}

function crea_corso(crea_btn) {
  crea_btn.innerHTML = 'Creando il corso...';

  var titolo = $('#id_nome').val();
  var descrizione = $('#id_descrizione').val();
  var progressivo = $('#id_is_progressive').is(':checked');
  var a = aula
  var fasce = fascia;
  var ospiti = studenti_referenti;

  if (validate_data(titolo, descrizione, progressivo, a, fasce, ospiti, classi) == false) {
    $('#error').addClass('alert')
    $('#error').addClass('alert-danger')
    crea_btn.innerHTML = 'crea';
    return;
  }

  var csrftoken = getCookie('csrftoken');
  $.ajax({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    },
    url: '/creacorso/',
    data: {
      'titolo': titolo,
      'descrizione': descrizione,
      'is_progressive': progressivo,
      'categoria': categoria,
      'aula': a,
      'fasce[]': fasce,
      'ospiti[]': ospiti,
      'classi[]': classi,
    },
    method: 'POST',
    datatype: 'json',
    success: function(r_d) {
      if (r_d['success']) {
        window.location.replace("/");crea_btn.innerHTML = 'crea';}
      else {
        $('#error').addClass('alert')
        $('#error').addClass('alert-danger')
        crea_btn.innerHTML = 'crea';
        $('#error').html(r_d['error'])
      }
    }
});

}
</script>

{% endblock %}
