{% extends "base.html" %}


{% block content %}

<div class="messages">

<!--qua vanno i messaggi del tipo: corso creato con successo-->
</div>
<script>
$(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
    });
});
</script>

Ciao! Iscriviti o crea un corso
<br>

Approvazioni: <br>
{% for approvazione in approvazioni %}
  {{approvazione}}
  <button class="btn btn-primary"><a href="accetta/{{approvazione.id}}">Accetta</a></button><br>
  <div class="line"></div>
{% endfor %}

{% endblock %}
