{% extends 'base.html' %}


{% block content %}
<h3>Come usare questo sito</h3>
filler text filler text filler textfiller text filler text filler textfiller text filler text filler textfiller text filler text filler textfiller text filler text filler textfiller text filler text filler textfiller text filler <br>text filler textfiller text filler text filler textfiller text filler text filler textfiller text filler text filler text
<pre>
sviluppatori:
(inserisci nome)
grafici:
(inserisci nome)
<pre>

{% endblock %}
