{% load static %}
{% load staticfiles %}

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="container"><br>
      <h1> temporary page! Remove</h1>
      Nome: <input type="text" id="username" placeholder="utente">
      Password: <input type="password" id="password" placeholder="password"><br>
      Classe: <input type="text" id="classe" placeholder="classe">
      Sezione: <input type="text" id="sezione" placeholder="sezione"><br>
      <button id="crea" onclick="submit()" class="btn btn-info">Crea utente</button>
    </div>

    <script>

      function getCookie(name) {var cookieValue = null;if (document.cookie && document.cookie != '') {var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {var cookie = jQuery.trim(cookies[i]);if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue =   decodeURIComponent(cookie.substring(name.length + 1));break;}}}return cookieValue;}


      var csrftoken = getCookie('csrftoken');
      function csrfSafeMethod(method) {return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));}

      function submit() {

        var username = $('#username').val();
        var password = $('#password').val();
        var sezione = $('#sezione').val();
        var classe = $('#classe').val();

        var csrftoken = getCookie('csrftoken');
        $.ajax({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
          url: '/newuser/',
          data: {
            'username': username,
            'password': password,
            'sezione': sezione,
            'classe': classe
          },
          method: 'POST',
          datatype: 'json',
          success: function(data) {
            if (data['success']) {
              window.location.replace("/home/");
            }
            else {
              $('#errorfield').html(data['error'])
            }
          }
        });
      }
</script>
</body>
</html>
