{% load static %}


<html lang="en" dir="ltr">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    		<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login | Settimana Flessibile</title>
  </head>
  <body>
    <div class="centered" id="loginscreen">

      <div class="center">
        <center><div id="errorfield"></div></center>
        <center>Login</center>
        <center>
          <form method="POST">
              {% csrf_token %}
              <input type="text" placeholder="nome" id="usernamefield"><br>
              <input type="password" placeholder="password" id="passwordfield"><br><br>
              <button id="submit" onclick="submit_login()" class="btn btn-primary" type="button">Login</button>
            </form>
        <!--<button id="submit" onclick="submit()">Login</button>-->
      </center>
      </div>

    </div>

<!--
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
-->


  </body>
  <script>


function update_dimensions() {
  var screen_height = $(document).height();
  var screen_width = $(document).width();
  $('#loginscreen').height((screen_height*0.66)+'px');
  $('#loginscreen').width((screen_width*0.65)+'px');
}

  $(document).ready(function() {
    update_dimensions();
  })

  $(window).resize(function() {
    update_dimensions();
});

function getCookie(name) {var cookieValue = null;if (document.cookie && document.cookie != '') {var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {var cookie = jQuery.trim(cookies[i]);if (cookie.substring(0, name.length + 1) == (name + '=')) {
         cookieValue =   decodeURIComponent(cookie.substring(name.length + 1));break;}}}return cookieValue;}
 var csrftoken = getCookie('csrftoken');function csrfSafeMethod(method) {return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));}

function submit_login() {

     var username = $('#usernamefield').val();
     var password = $('#passwordfield').val();

     var csrftoken = getCookie('csrftoken');
     $.ajax({
       beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
         xhr.setRequestHeader("X-CSRFToken", csrftoken);
         }
       },
       url: '/login/',
       data: {
         'username': username,
         'password': password
       },
       method: 'POST',
       datatype: 'json',
       success: function(data) {
       if (data['success']) {
         var url = "/home/";
         window.open(url,"_self");
       }
       else {
         $('#errorfield').html(data['error'])
       }
       }
     });

}

  </script>

</html>
